:root {
  --vp-c-brand-1: #10b981;
  --vp-c-brand-2: #059669;
  --vp-c-brand-3: #047857;
  --vp-c-brand-soft: rgba(16, 185, 129, 0.14);
}

.dark {
  --vp-c-brand-1: #34d399;
  --vp-c-brand-2: #10b981;
  --vp-c-brand-3: #059669;
  --vp-c-brand-soft: rgba(52, 211, 153, 0.14);
}

/* Hero title gradient */
:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #10b981 30%,
    #059669
  );
}

/* Hero image background (dark mode only) */
.dark {
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #34d399 50%,
    #10b981 50%
  );
  --vp-home-hero-image-filter: blur(44px);
}
